@font-face {
    font-family: Milkshake;
    src: url("../font/Milkshake.otf") format("opentype");
}

ul.dashed {
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -1em;
}

ul.dashed > li:before {
    content: "– ";
    text-indent: -1em;
}

ul.spaced {
    margin-top: 0.8em;
}

ul.spaced > li {
    margin-top: 25px;
}

ul.headlines {
    font: 50px 'News Cycle';
    line-height: 1;
    list-style-type: none;
}

ul.headlines > li {
    margin-top: 25px;
    text-indent: -0.75em;
}

ul.headlines > li:before {
    content: "– ";
    text-indent: -0.75em;
}

span.inline-code {
    font-family: 'Fira Mono', monospace;
    font-weight: 900;
}

.white-on-black {
    color: white;
    text-shadow: 1px 1px 7px black;
}

.black-on-white {
    color: black;
    text-shadow: 1px 1px 7px white;
}

table.comparison {
    margin: 0;
    line-height: 1.2;
}

table.comparison td, table.comparison th {
    padding: 15px 0;
}

table.comparison td {
    border: none;
}

table.comparison td.spaced {
    padding-left: 25px;
    padding-right: 25px;
}

.reveal > .slides section pre > code {
    font-family: 'Fira Mono', monospace;
    overflow: hidden;
}

.reveal > .slides section pre > code.hljs span.current-fragment {
    text-shadow: 1px 1px 8px white;
    font-weight: bold;
}

.reveal > .slides section pre > code.hljs span.fragment {
    opacity: 0;
    transform: perspective(200px) translateZ(100px);
    transition: transform ease-out 0.4s, opacity ease-out 0.4s
}

.reveal > .slides section pre > code.hljs span.fragment.visible {
    opacity: 1;
    transform: none;
    display: inline-block;
}
