@font-face {
    font-family: Milkshake;
    src: url("Milkshake.otf") format("opentype");
}

ul.dashed {
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -27px;
}

ul.dashed > li:before {
    content: "– ";
    text-indent: -27px;
}

ul.spaced {
    margin-top: 0.8em;
}

ul.spaced > li {
    margin-top: 25px;
}

ul.headlines {
    font: 50px 'News Cycle';
    line-height:1;
    list-style: none;
}

ul.headlines > li {
    margin-top: 25px;
}

span.inline-code {
    font-family: 'Fira Code', monospace;
    font-weight: 900;
}

.white-on-black {
    color: white;
    text-shadow: 1px 1px 7px black;
}

.black-on-white {
    color: black;
    text-shadow: 1px 1px 7px white;
}
